[csv]
# If not specified, this defaults to off
state = on
directory = /path/to/download/dir
# If true, file will be compressed with gzip.
gzip = on
# If true, all writes will be to named pipes rather than files
fifo = false

[json]
state = on
directory = /path/to/download/dir
gzip = on
fifo = false

[kinesis]
state = off
keyid = AWS_ACCESS_KEY_ID
secretkey = AWS_SECRET_ACCESS_KEY
stream = kinesis-stream-name
# optional, defaults to us-east-1
region = us-east-1

[product "foo"]
key = API_KEY
secret = API_SECRET
token = API_TOKEN

[product "bar"]
key = API_KEY
secret = API_SECRET
token = API_TOKEN
